body{
    background-color: #1ea365;
}

.formu{
    margin-top: 2%;
    display: flex;
}

#nombre{
    max-width: 20%;
}

.main{
    max-width: 30%;
    margin-left: 1%;
    background-color:rgb(187, 187, 187);
}

.mainLabel{
    margin-top: 0.3%;
    color: #ff9900;
    margin-left: 5%;
}

button{
    margin-left: 1%;
    margin-right: 2%;
}

.modalInputs{
    width: 70%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.modalLabels{
    width: 20%;
    text-align: right;
}

.ficha{
    display: flex;
}

.btn{
    background-color: #ff9900;
    border: #ff9900;
}

.btn:hover{
    background-color: #ff9900;
}