body{
    background-color: #1ea365;
}

.formu{
    margin-top: 2%;
    display: flex;
}

#nombre{
    max-width: 20%;
}

.main{
    max-width: 30%;
    margin-left: 1%;
    background-color:rgb(187, 187, 187);
}

.mainLabel{
    margin-top: 0.3%;
    color: #ff9900;
    margin-left: 5%;
}

#boton{
    background-color: #ff9900;
    border: #ff9900;
}

#boton:hover{
    border: #ff9900;
}

.button{
    margin-left: 1%;
    margin-right: 2%;
    background-color: #ff9900;
    border: #ff9900;
}

.modalInputs{
    width: 70%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.modalLabels{
    width: 20%;
    text-align: right;
}

.ficha{
    display: flex;
}

.button:hover{
    background-color: #ff9900;
}

.cuadro{
    text-align: center;
    margin: 10% 30% 0 30%;
    padding: 3%;
    border: 0.2em #0a884f solid;
    border-radius: 0.5em;
    color: black;
    font-size: 130%;
    background-color: #62c799;
}

#tituloDatos{
    text-align: left;
}

hr{
    color: #0a884f;
    border: 2px solid;
}